h1{
    font-family: myFont2;
    color: rgb(255, 0, 83);
    font-size: 500%;
}
h2{
    font-family: myFont;
    font-size: 150%;
    color: rgb(255, 0, 83);
}
#überschrift{
    width:auto;
    background-color: rgb(165, 229, 247);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
}
body {
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}


#tiger, #snake {
    width: 50%;
    height: auto;
    display: block;
}

#container{
    width: 100%;
    display:flex;
}

@font-face {
    font-family: myFont;
    src: url(./fonts/Nexa-Heavy.ttf);
}
@font-face {
    font-family: myFont2;
    src: url(./fonts/StretchPro.otf);
}

p{
    font-family: myFont;
    font-size: 150%;
    text-align: center;
    color: rgb(165, 229, 247);
    display: flex;
}

#navigation {
    background-color: rgb(255, 0, 83);
    height: 90px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navtable {
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
    padding: 0;
}

#navtable th {
    padding: 20px;
    margin: 0;
}

#about,
#andere,
#animation {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#aboutpng,
#anderepng,
#animationpng {
    display: block;
    max-height: 55px;
    width: auto;
    object-fit: contain;
}
